{
    "options": {
        "base": [],
        "pool": [
            "Ofast",
            "fasynchronous-unwind-tables",
            "fbranch-target-load-optimize",
            "fbranch-target-load-optimize2",
            "fbtr-bb-exclusive",
            "fconserve-stack",
            "fcx-fortran-rules",
            "fcx-limited-range",
            "fdata-sections",
            "fdelayed-branch",
            "fexceptions",
            "ffinite-math-only",
            "ffloat-store",
            "fgcse-after-reload",
            "fgcse-las",
            "fgcse-sm",
            "fhandle-exceptions",
            "finline-functions",
            "fipa-cp-clone",
            "fipa-pta",
            "fira-loop-pressure",
            "fisolate-erroneous-paths-attribute",
            "flive-range-shrinkage",
            "fmerge-all-constants",
            "fmodulo-sched",
            "fno-align-functions",
            "fno-align-jumps",
            "fno-align-labels",
            "fno-align-loops",
            "fno-auto-inc-dec",
            "fno-caller-saves",
            "fno-compare-elim",
            "fno-cprop-registers",
            "fno-crossjumping",
            "fno-cse-follow-jumps",
            "fno-cse-skip-blocks",
            "fno-dce",
            "fno-defer-pop",
            "fno-delayed-branch",
            "fno-delete-null-pointer-checks",
            "fno-devirtualize-speculatively",
            "fno-devirtualize",
            "fno-dse",
            "fno-expensive-optimizations",
            "fno-forward-propagate",
            "fno-gcse-after-reload",
            "fno-gcse-lm",
            "fno-gcse",
            "fno-guess-branch-probability",
            "fno-hoist-adjacent-loads",
            "fno-if-conversion",
            "fno-if-conversion2",
            "fno-indirect-inlining",
            "fno-inline-functions",
            "fno-inline-small-functions",
            "fno-ipa-cp-clone",
            "fno-ipa-profile",
            "fno-ipa-pure-const",
            "fno-ipa-reference",
            "fno-ipa-sra",
            "fno-isolate-erroneous-paths-dereference",
            "fno-merge-constants",
            "fno-omit-frame-pointer",
            "fno-optimize-sibling-calls",
            "fno-partial-inlining",
            "fno-peephole2",
            "fno-predictive-commoning",
            "fno-reorder-blocks",
            "fno-reorder-functions",
            "fno-rerun-cse-after-loop",
            "fno-sched-interblock",
            "fno-sched-spec",
            "fno-schedule-insns",
            "fno-schedule-insns2",
            "fno-split-wide-types",
            "fno-strict-aliasing",
            "fno-strict-overflow",
            "fno-thread-jumps",
            "fno-tree-bit-ccp",
            "fno-tree-builtin-call-dce",
            "fno-tree-ccp",
            "fno-tree-ch",
            "fno-tree-copyrename",
            "fno-tree-dce",
            "fno-tree-dominator-opts",
            "fno-tree-dse",
            "fno-tree-forwprop",
            "fno-tree-fre",
            "fno-tree-loop-vectorize",
            "fno-tree-partial-pre",
            "fno-tree-phiprop",
            "fno-tree-pre",
            "fno-tree-pta",
            "fno-tree-slp-vectorize",
            "fno-tree-slsr",
            "fno-tree-sra",
            "fno-tree-switch-conversion",
            "fno-tree-tail-merge",
            "fno-tree-ter",
            "fno-tree-vrp",
            "fno-unit-at-a-time",
            "fno-unswitch-loops",
            "fno-vect-cost-model",
            "fnon-call-exceptions",
            "fpeel-loops",
            "fpredictive-commoning",
            "freorder-blocks-and-partition",
            "freschedule-modulo-scheduled-loops",
            "frounding-math",
            "fsched-spec-load-dangerous",
            "fsched-spec-load",
            "fsched-stalled-insns",
            "fsched2-use-superblocks",
            "fsel-sched-pipelining-outer-loops",
            "fsel-sched-pipelining",
            "fsel-sched-reschedule-pipelined",
            "fselective-scheduling",
            "fselective-scheduling2",
            "fshort-enums",
            "fshort-wchar",
            "fsignaling-nans",
            "fsingle-precision-constant",
            "ftrapv",
            "ftree-coalesce-inlined-vars",
            "ftree-loop-distribute-patterns",
            "ftree-loop-distribution",
            "ftree-loop-if-convert-stores",
            "ftree-loop-vectorize",
            "ftree-lrs",
            "ftree-partial-pre",
            "ftree-slp-vectorize",
            "ftree-vectorize",
            "funroll-all-loops",
            "funroll-loops",
            "funsafe-loop-optimizations",
            "funsafe-math-optimizations",
            "funswitch-loops",
            "funwind-tables",
            "fvar-tracking-assignments-toggle",
            "fvar-tracking-uninit",
            "fvariable-expansion-in-unroller",
            "fvpt",
            "fwrapv"
        ]
    },
    "devices": {
        "target": "arm-*-linux-androideabi",
        "pool": {
            "localhost": {
                "type": "portal",
                "connect": [{"host": "localhost", "type": "ssh"}],
                "quadruple": "arm-*-linux-gnueabi"
            },
            "device": {
                "portal": "localhost",
                "type": "device",
                "connect": [{"host": "localhost", "type": "ssh"}],
                "quadruple": "arm-*-linux-androideabi"
            }
        }
    },
    "workspace": {
        "source": "./source",
        "root": "./workspace",
        "limit": 8
    },
    "scripts": {
        "kill": {"path": "./source/kill.sh", "timeout": 5},
        "run": {"path": "./source/run.sh", "timeout": 10},
        "build": {"path": "./source/build.sh", "timeout": 60},
        "clean": {"path": "./source/clean.sh", "timeout": 30}
    },
    "log" : {
      "directory" : "./log",
      "mode" : "screen"
    }
}
